<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-body">
                <div class="contenedor">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        var ShowForm = function () {
            var btn = $(this);
            $.ajax({
                url: btn.attr("data-url"),
                type: 'get',
                dataType: 'json',
                beforeSend: function () {
                    $('#modal-book').modal('show');
                },
                success: function (data) {
                    $('#modal-book .modal-content').html(data.html_form);
                },
                error: function (xhr, status) {
                    alert('Disculpe, existió un problema');

                },
                complete: function (xhr, status) {
                }
            });
        };

        var SaveForm = function () {
            var form = $(this);
            $.ajax({
                url: form.attr("data-url"),
                data: form.serialize(),
                type: form.attr('method'),
                dataType: 'json',
                success: function (data) {
                    if (data.form_is_valid) {
                        $('#book-table tbody').html(data.motivo_list);
                        $('#modal-book').modal('hide');
                    } else {
                        $('#modal-book .modal-content').html(data.html_form)
                    }
                },
                error: function (xhr, status) {
                    alert('Disculpe, existió un problema');
                },
                complete: function (xhr, status) {
                }
            })
            return false;
        }

// create
        $(".show-form").click(ShowForm);
        $("#modal-book").on("submit", ".create-form", SaveForm);

//update
        $('#book-table').on("click", ".show-form-update", ShowForm);
        $('#modal-book').on("submit", ".update-form", SaveForm);

//delete
        $('#book-table').on("click", ".show-form-delete", ShowForm);
        $('#modal-book').on("submit", ".delete-form", SaveForm)
    });
</script>